@use "../../scss/" as *;

.movie-card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: 32px;
  margin-bottom: 1rem;

  &__icon {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.8rem;
    cursor: pointer;

    &-liked {
      display: block;
    }

    &-outline {
      display: none;
    }

    &-right {
      display: none;
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 2.2rem;
      cursor: pointer;

      color: white;

      &:hover {
        color: $main-color;
      }
    }
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: $border-radius;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before,
    &:active::before {
      opacity: 0.6;
    }

    &:hover .btn {
      transform: translate(-50%, -50%) scale(1);
    }

    &:hover + &__title {
      color: $main-color;
    }

    &:hover &__icon-outline {
      display: block;
    }

    &:hover &__icon-right {
      display: block;
    }
  }
}
